<%- include("partials/header") %>

<h1 class="text-4xl font-bold py-2"><%= title %></h1>

<div class="border border-gray-300 rounded-md p-4 mb-4">
  <p><%= body %></p>
</div>

<%- include("partials/footer") %>
